hello world!
<br />
<br />
<%= obj.name %>

<h1>this is a red heading coloured by css</h1>

<p>this is a lightblue paragraph coloured by js</p>

<img src="/img/cool_cat.jpg" alt="cool cat" />
